h1 {
  font-size: 30px;
  color: blue;
}

/* CSS untuk screen dibawah atau setara dengan 600px lebar/wide screen */
@media (max-width: 600px) {
  h1 {
    font-size: 6px;
    color: yellow;
  }
}

@media (orientation: landscape) and (max-width: 800px) {
  h1 {
    color: red;
  }
}
